@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicStoreUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<body>
    <h1>Please Login or Register for more features!!!</h1>
</body>



