@using Microsoft.AspNetCore.Identity
@inject SignInManager<MusicStoreUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicStore</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <link rel="stylesheet" href="STYLE.css">
    <link rel="stylesheet" href="bootstrap-3.3.5-dist/css/bootstrap.min.css">


</head>
<body style="background-image:url('images/840313test.jpg')">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (this.SignInManager.IsSignedIn(User))
                {
                <a asp-area="" asp-controller="User" asp-action="Home" class="navbar-brand">MusicStore</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MusicStore</a>
                }
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.SignInManager.IsSignedIn(User))
                    {
                        <li><a asp-area="" asp-controller="User" asp-action="Home">Home</a></li>
                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    }

                    <li><a asp-area="" asp-controller="Home" asp-action="About">About us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contacts</a></li>
                    @if (this.SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                    {
                        <li><a asp-area="" asp-controller="Administrator" asp-action="Index">ADMINISTRATOR</a></li>
                    }

                </ul>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    @if (this.SignInManager.IsSignedIn(User))
    {
        <nav class="navbar-inverse fixed-left pull-left max">
            <div>
                <div>
                    <button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div>
                    <ul class="nav">
                        <li><a asp-controller="User" asp-action="Strings">Strings</a></li>
                        <li><a asp-controller="User" asp-action="Guitars">Guitars</a></li>
                        <li><a asp-controller="User" asp-action="Keyboards">Keyboards</a></li>
                        <li><a asp-controller="User" asp-action="Woodwinds">Woodwinds</a></li>
                        <li><a asp-controller="User" asp-action="Brass">Brass</a></li>
                        <li><a asp-controller="User" asp-action="Accessories">Accessories</a></li>

                    </ul>
                </div>
            </div>
        </nav>
    }

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
    <hr />
    <footer class="footer-copyright text-center py-3 footer-margin">
        <p>&copy; 2018 - MusicStore</p>
    </footer>



    @RenderSection("Scripts", required: false)
</body>
</html>
