<center>
    <h1>
        <a asp-controller="AdministratorProduct" asp-action="Products">ListOfProducts</a>
    </h1>
    <br/>
</center>
<center>
    <h1>
        <a asp-controller="AdministratorSales" asp-action="Sales">Sales</a>
    </h1>
    <br />
</center>
<center>
    <h1>
        <a asp-controller="AdministratorEvents" asp-action="Events">Events</a>
    </h1>
    <br />
</center>

<center>
    <h1>
        <a asp-controller="AdministratorUsers" asp-action="Users">See all users</a>
    </h1>
    <br />
</center>