<center>
    <h1>
        <a asp-controller="Administrator" asp-action="Products">Products</a>
    </h1>
    <br/>
</center>
<center>
    <h1>
        <a asp-controller="Administrator" asp-action="Sales">Sales</a>
    </h1>
    <br />
</center>
<center>
    <h1>
        <a asp-controller="Administrator" asp-action="Events">Events</a>
    </h1>
    <br />
</center>